<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Olá! Thymeleaf configurado!</h1>

	<div th:each="erro : ${#fields.detailedErrors('${cerveja.*}')}">
		<span th:text="${erro.message}"></span>
	</div>

	<form method="POST" th:object="${cerveja}">
		<span th:text="${#fields.hasAnyErrors()}"></span> 
		
		<span th:text="${mensagem}"></span> <br /> 
		
		<label for="sku">SKU: </label>		
		<input type="text" id="sku" th:field=*{sku}> <br /> <!-- * se refere ao objeto do proprio formulario definido em th:object -->
		
		<label for="nome">NOME: </label> 
		<input type="text" id="nome" th:field=*{nome}> <br /> 
		
		<label for="descricao">DESCRIÇÃO: </label>
		<textarea rows="4" cols="8" id="descricao" th:field=*{descricao}></textarea> <br /> 
		
		<input type="submit" value="Salvar">
	</form>


</body>


</html>